:root {
    --transparent:  rgba(0, 0, 0, 0);
    --border: rgb(0, 0, 0);
    --borderThickness: 1px;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    cursor: default;
}

body {
    background-color: var(--transparent);
    background-image: linear-gradient(to bottom, rgb(252, 197, 197), rgb(255, 255, 255), rgb(255, 255, 255));
    width: 251px;
    height: auto;
    border: var(--borderThickness) solid var(--transparent);
    border-radius: 4px;
    padding-bottom: 0.7px;
    transition: border-color 0.4s ease;
}

body:hover {
    border-color: var(--border);
}

body:hover > .line {
    background-color: var(--border);
}

.lr {
    width: 70%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.l {
    float: left;
    width: 50.86px;
    height: inherit;
    display: flex;
    justify-content: center;
}

.r {
    display: flex;
    float: right;
    width: 122.41px;
    justify-content: center;    
    height: inherit;
}

.heading {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    height: auto;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    transition: text-shadow 0.15s ease, font-size 0.15s ease;
}

.r:hover > .heading{
    text-shadow: 2px 2px 0px rgb(138, 138, 138);
    font-size: 40.5px;
}

.logo {
    height: 61%;
    padding-top: 2px;
    margin-top: auto;
    margin-bottom: auto;
    transition: filter 0.2s ease, height 0.2s ease;
}

.logo:hover {
    filter: drop-shadow(2px 2px 0px #ff7e82);
    height: 63%;
}

.head2 {
    text-align: center;
    color: #414141;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    text-shadow: 0px 0px 0px #ffffff;
    margin-bottom: 0%;
    margin-top: 0%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: text-shadow 0.2s ease;
}

.head2:hover {
    text-shadow: 0.8px 0.8px 0px rgb(133, 133, 133);
    /* height: 55% */
}

input[type="checkbox"].cb {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 6px;
}

.text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #0d0d0d;
    font-size: 17px;
    vertical-align: middle;
    text-shadow: 0px 0px 0.5px black;
    transition: margin-left .17s ease-out, font-weight 0s ease;
    
}

.text:hover {
    /* text-shadow: 0.6px 0.6px 0px #000000; */
    margin-left: -4.5px;
    font-weight: 600;
}

.lab {
    width: auto;
    text-align: left;
    vertical-align: middle;
    color: #3b3b3b;
    padding: 3.5px;
}

.line {
    height: var(--borderThickness);
    margin-top: 6px;
    margin-bottom: 1px;
    width: 100%;
    background-color: var(--bg);
    transition: background-color 0.4s ease;
}

